.about-container {
  color: var(--ec-color-neutral-100);
  background-color: #101823;

  position: relative;

  padding: 100px;
  padding-bottom: 0px;

  position: relative;

  overflow-x: hidden;

  @media (max-width: 767px) {
    padding: 24px;
    padding-bottom: 0px;
  }

  &-skills {
    min-height: 100px;

    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 92px;

    @media (max-width: 767px) {
      min-height: 72px;
      margin-bottom: 50px;
    }

    &-top,
    &-bottom {
      display: flex;

      position: absolute;

      p {
        font-size: 32px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 6px;
        white-space: nowrap;
        color: hsla(0, 0%, 93.3%, 0.55);

        margin-left: 50px;
        margin-right: 50px;

        @media (max-width: 767px) {
          font-size: 24px;

          margin-left: 8px;
          margin-right: 8px;

          @media (max-width: 400px) {
            font-size: 14px;
            letter-spacing: 3px;

            margin-left: 8px;
            margin-right: 0px;
          }
        }
      }
    }

    &-top {
      top: 0;
      left: 400px;

      @media (max-width: 767px) {
        left: 100px;
      }
    }

    &-bottom {
      bottom: 0;
      left: -400px;

      @media (max-width: 767px) {
        left: -100px;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 910px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-left {
      width: 70%;
      margin-right: 50px;

      @media (max-width: 910px) {
        width: 100%;
        margin-right: 0px;
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;

      width: 30%;

      @media (max-width: 910px) {
        width: 100%;
        justify-content: center;
      }

      &-image {
        height: 300px;
        width: 300px;

        @media (max-width: 910px) {
          width: 100%;
          margin-top: 24px;
          margin-bottom: 24px;
        }

        .about-container-bottom-right-image__me {
          width: 100%;
          height: 300px;

          display: block;

          background: url(/assets/images/jpg/me.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

          mix-blend-mode: screen;

          border-bottom-left-radius: 50%;
          border-top-right-radius: 50%;

          @media (max-width: 910px) {
            width: 100%;
            background-size: cover;
          }
        }
      }
    }
  }

  &__connect {
    margin-top: 40px;
    margin-bottom: 40px;

    @media (min-width: 1600px) {
      margin-top: -20px;
    }

    @media (min-width: 1400px) {
      margin-top: 0px;
    }

    a {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      font-size: 1.2em;
      color: var(--ec-color-neutral-100);
      font-weight: 700;
      text-transform: uppercase;
      font-family: inherit;
      padding: 1em 2em;
      border: 2px solid var(--ec-color-primary-medium);
      border-radius: 1em;
      background: var(--ec-color-primary);
      overflow: visible;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      transition: all 175ms cubic-bezier(0, 0, 1, 1);

      @media (max-width: 768px) {
        font-size: 16px;
        width: 100%;
        text-align: center;
      }

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--ec-color-primary-medium);
        border-radius: inherit;
        box-shadow: 0 0 0 2px var(--ec-color-primary-regular),
          0 0.75em 0 0 var(--ec-color-primary-regular);
        transform: translate3d(0, 0.75em, -1em);
        -webkit-transform: translate3d(0, 0.75em, -1em);
        transition: all 175ms cubic-bezier(0, 0, 1, 1);
        z-index: -1;
      }

      @media (hover: hover) {
        &:hover {
          transform: translate(0em, 0.75em);
          -webkit-transform: translate(0em, 0.75em);
        }

        &:hover::before {
          transform: translate3d(0, 0, -1em);
          -webkit-transform: translate3d(0, 0, -1em);
          box-shadow: 0 0 0 2px var(--ec-color-primary-regular),
            0 0.25em 0 0 var(--ec-color-primary-medium);
        }
      }
    }
  }
}
