.about-container {
    color: var(--ec-color-neutral-100);
    background-color: var(--ec-color-primary-dark);
    position: relative;
    padding: 100px;
    padding-bottom: 0px;
    overflow: hidden;

    @media (max-width: 767px) {
        padding: 24px;
        padding-bottom: 0px;
    }

    &-skills {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 92px;
        overflow: hidden;

        @media (max-width: 767px) {
            min-height: 80px;
            margin-bottom: 50px;
        }

        &-top,
        &-bottom {
            display: flex;

            position: absolute;

            p {
                font-size: 32px;
                font-weight: 300;
                line-height: 50px;
                letter-spacing: 6px;
                white-space: nowrap;
                color: hsla(0, 0%, 93.3%, 0.55);

                margin-left: 50px;
                margin-right: 50px;

                @media (max-width: 767px) {
                    font-size: 24px;

                    margin-left: 8px;
                    margin-right: 8px;

                    @media (max-width: 400px) {
                        font-size: 14px;
                        letter-spacing: 3px;

                        margin-left: 8px;
                        margin-right: 0px;
                    }
                }
            }
        }

        &-top {
            top: 0;
            left: 400px;

            @media (max-width: 767px) {
                left: 100px;
            }
        }

        &-bottom {
            bottom: 0;
            left: -400px;

            @media (max-width: 767px) {
                left: -100px;
            }
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 1038px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        &-left {
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-right: 50px;

            @media (max-width: 1038px) {
                width: 100%;
                margin-right: 0px;
            }
        }

        &-right {
            display: flex;
            justify-content: flex-end;

            width: 30%;

            @media (max-width: 1038px) {
                width: 100%;
                justify-content: center;
            }

            &__badge {
                height: 400px;
                width: 300px;
                position: relative;
                background-color: var(--ec-color-primary);
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.4);

                @media (max-width: 1038px) {
                    margin-top: 80px;
                    margin-bottom: 40px;
                }

                @media (max-width: 400px) {
                    width: 100%;
                }

                .badge-string {
                    height: 83px;
                    width: 80px;
                    display: block;
                    position: absolute;
                    top: -68px;
                    left: 50%;
                    z-index: 10;
                    transform: translateX(-50%);
                    background: rgb(0, 0, 0);
                    background: -moz-linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0.5802696078431373) 32%,
                        rgba(0, 0, 0, 1) 60%,
                        rgba(0, 0, 0, 1) 100%
                    );
                    background: -webkit-linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0.5802696078431373) 32%,
                        rgba(0, 0, 0, 1) 60%,
                        rgba(0, 0, 0, 1) 100%
                    );
                    background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0.5802696078431373) 32%,
                        rgba(0, 0, 0, 1) 60%,
                        rgba(0, 0, 0, 1) 100%
                    );
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
                }

                .badge-role {
                    height: 8px;
                    width: 96px;
                    display: block;
                    position: absolute;
                    top: 8px;
                    left: 50%;
                    z-index: 10;
                    transform: translateX(-50%);
                    background-color: #000;
                    border-radius: 32px;
                }

                &__top {
                    height: 160px;
                    padding: 32px 24px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                    position: relative;
                    overflow: hidden;

                    .badge-skin {
                        .badge-skin__el {
                            display: block;
                            height: 400px;
                            width: 400px;

                            position: absolute;
                            left: -38px;
                            top: -130px;

                            background-size: contain;
                            background-image: url("/assets/images/png/Logo.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            opacity: 0.6;
                        }
                    }

                    &__info {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        position: relative;
                        z-index: 15;
                    }

                    .badge-avatar {
                        height: 200px;
                        width: 200px;
                        position: absolute;
                        bottom: -107px;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: #000;
                        border-radius: 999px;
                    }
                }

                &__bottom {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    gap: 8px;
                    padding-top: 114px;
                    position: relative;

                    .badge-image {
                        height: 180px;
                        width: 180px;
                        position: absolute;
                        bottom: 70px;
                        left: 50%;
                        transform: translateX(-50%);
                        background: url(/assets/images/jpg/me.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 999px;
                        z-index: 1;
                    }

                    .badge-name {
                        font-size: 24px;
                        font-weight: bold;
                    }

                    .badge-email {
                        font-size: 16px;
                        font-weight: lighter;
                        letter-spacing: 2px;
                        padding: 0px 24px;
                    }
                }
            }
        }
    }

    &__connect {
        margin-bottom: 40px;

        @media (min-width: 1600px) {
            margin-top: -20px;
        }

        @media (min-width: 1400px) {
            margin-top: 0px;
        }

        @media (max-width: 1038px) {
            a {
                width: 100%;
                text-align: center;
            }
        }
    }
}
