.home {
    display: flex;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    position: relative;
    overflow: hidden;

    &__animation {
        height: 600px;
        width: 600px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        overflow: hidden;

        @media (max-width: 767px) {
            height: 300px;
            width: 300px;
        }
    }

    .hello {
        position: absolute;

        top: 50%;
        left: 50%;
        z-index: 999;
        transform: translate(-50%, -50%);
        padding: 24px;
        opacity: 0;
        animation: fadeIn 1.6s forwards;
        animation-delay: 1s;

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        &.opening {
            &::before {
                position: absolute;
                content: "";

                width: 0px;
                height: 0px;
                opacity: 0;

                border-radius: 50%;

                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                transition: all 0.5s ease-in-out;
            }
        }

        &.open {
            &.night {
                &::before {
                    position: absolute;
                    content: "";

                    opacity: 1;
                    z-index: 2;

                    border-radius: 50%;

                    animation: 1.2s ease-in-out circleN;
                }

                @keyframes circleN {
                    0% {
                        background: linear-gradient(#2b2994, #494cab);
                        width: 0vw;
                        height: 0vh;
                    }

                    100% {
                        background: linear-gradient(#2b2994, #494cab);
                        width: 3000px;
                        height: 3000px;
                    }
                }
            }
        }

        &.open {
            &.day {
                &::before {
                    position: absolute;
                    content: "";

                    opacity: 1;
                    z-index: 2;

                    border-radius: 50%;

                    animation: 1.2s ease-in-out circleD;
                }

                @keyframes circleD {
                    0% {
                        background: linear-gradient(#5794cd, #0385ad);
                        width: 0vw;
                        height: 0vh;
                    }

                    100% {
                        background: linear-gradient(#5794cd, #0385ad);
                        width: 3000px;
                        height: 3000px;
                    }
                }
            }
        }

        h1 {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 12em;
            line-height: 0.8em;
            color: var(--ec-color-neutral-100);

            @media (max-width: 767px) {
                text-shadow:
                    3px 3px 0 var(--ec-color-primary-dark),
                    -3px 3px 0 var(--ec-color-primary-dark),
                    -3px -3px 0 var(--ec-color-primary-dark),
                    3px -3px 0 var(--ec-color-primary-dark);
            }

            pointer-events: none;
            position: relative;

            @media (max-width: 767px) {
                font-size: 24vw;
            }

            &:first-child {
                animation: topIn 1s forwards;
                animation-delay: 1s;

                @keyframes topIn {
                    0% {
                        transform: translateY(-50%);
                    }
                    100% {
                        transform: translateY(0%);
                    }
                }
            }

            &:last-child {
                animation: bottomIn 1.8s forwards;
                animation-delay: 1s;

                @keyframes bottomIn {
                    0% {
                        transform: translateY(50%);
                    }
                    100% {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }

    .left {
        width: calc(50% - 2px);
        margin-right: 2px;
        background-color: var(--ec-color-primary-dark);
        position: relative;
        z-index: 1;
        transition: transform 1s ease-out;

        &.open {
            transform: translateX(-1000px);
        }

        animation: leftIn 1s;

        @keyframes leftIn {
            0% {
                transform: translateX(-1000px);
            }
            100% {
                transform: translateX(0px);
            }
        }
    }

    .right {
        width: calc(50% - 2px);
        margin-left: 2px;
        background-color: var(--ec-color-primary-dark);
        position: relative;
        z-index: 1;
        transition: transform 1s ease-out;

        &.open {
            transform: translateX(1000px);
        }

        animation: rightIn 1.1s;

        @keyframes rightIn {
            0% {
                transform: translateX(1000px);
            }
            100% {
                transform: translateX(0px);
            }
        }
    }
}
