.works-container {
    color: var(--ec-color-neutral-100);
    background-color: var(--ec-color-primary-dark);
    position: relative;
    padding: 62px 100px;
    padding-bottom: calc(62px + 48px);
    margin-bottom: 62px;
    overflow-x: hidden;

    @media (max-width: 767px) {
        padding: 24px;
        padding-bottom: calc(24px + 24px);
        margin-bottom: 24px;
    }

    &__timeline {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &__item {
            max-width: 564px;
            display: flex;
            gap: 24px;

            &:first-child {
                .works-container__timeline__item__line {
                    .works-container__timeline__item__line__obj {
                        &:before {
                            content: "";
                            background-color: transparent;
                        }
                    }
                }
            }

            &:last-child {
                .works-container__timeline__item__line {
                    .works-container__timeline__item__line__obj {
                        background-color: transparent;
                    }
                }
            }

            &__line {
                display: flex;
                gap: 8px;

                &__date {
                    min-height: 64px;
                    min-width: 64px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    span {
                        opacity: 0.6;
                    }
                }

                small {
                    display: flex;
                    align-items: center;
                }

                &__obj {
                    height: 50%;
                    width: 2px;
                    position: relative;
                    top: 50%;
                    background-color: var(--ec-color-neutral-100);
                    margin-left: 16px;

                    &::before {
                        content: "";
                        display: block;
                        height: calc(100% + 32px);
                        width: 2px;
                        position: relative;
                        top: calc(-100% - 32px);
                        background-color: var(--ec-color-neutral-100);
                    }

                    em {
                        content: "";
                        height: 16px;
                        width: 16px;
                        background-color: var(--ec-color-primary);
                        border-radius: 999px;
                        position: absolute;
                        top: 0;
                        left: -7px;

                        &::after {
                            content: "";
                            height: 8px;
                            width: 8px;
                            background-color: var(--ec-color-neutral-100);
                            border-radius: 999px;
                            position: absolute;
                            top: 4px;
                            left: 4px;
                        }
                    }
                }
            }

            &__job {
                &__left {
                    img {
                        width: 64px;
                    }
                }

                &__right {
                    &__title {
                    }

                    &__place {
                        font-size: 0.8em;
                        letter-spacing: 3px;
                    }

                    &__description {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}
