* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;

    &.day {
        background: linear-gradient(#5794cd, #0385ad);
    }

    &.night {
        background: linear-gradient(#2b2994, #494cab);
    }
}

.container {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(50%);
    opacity: 0;

    transition: all 2s ease-in-out;

    &.open {
        transform: translateY(0px);
        opacity: 1;
    }
}

.container-max {
    max-width: 1600px;
    margin: 0 auto;
}

.title-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    margin-bottom: 2rem;

    h2 {
        font-size: 1.3rem;
        letter-spacing: 10px;
        color: rgba(238, 238, 238, 0.55);

        text-transform: uppercase;

        @media (max-width: 767px) {
            max-width: 250px;

            font-size: 1rem;

            margin-bottom: 16px;
        }
    }

    h3 {
        font-size: 4rem;
        letter-spacing: -1px;
        line-height: 84px;

        @media (max-width: 767px) {
            max-width: 273px;

            font-size: 2.5rem;
            line-height: 52px;
        }
    }
}

.text-container {
    p {
        line-height: 24px;
        letter-spacing: 3px;
        margin-bottom: 12px;
    }
}

.d-none {
    display: none;
}

.cursor {
    opacity: 0;
    width: 80px;
    height: 80px;

    border: 2px dashed var(--ec-color-primary);
    border-radius: 50px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;

    pointer-events: none;

    animation: cursor-animation 0.5s infinite alternate;

    display: none;

    &::after {
        content: "🖱️";

        color: var(--ec-color-primary);

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: bold;
        font-size: 2.4em;

        width: 80px;
        height: 80px;

        position: absolute;

        border: 40px solid var(--ec-color-primary);
        border-radius: 50%;
        opacity: 1;

        top: -42px;
        left: -42px;

        background: rgba(35, 37, 93, 0.9);

        animation: cursor-animation-two 0.5s infinite alternate;
    }
}

.cursor-click {
    width: 20px;
    height: 20px;

    border: 2px solid white;
    border-radius: 50px;

    position: absolute;
    z-index: 2;

    pointer-events: none;

    display: none;

    animation: cursor-animation-three 0.5s infinite alternate;
}

.ec-i {
    &-angular {
        background-size: contain;
        background-image: url(../../assets/images/svg/angular.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-react {
        background-size: contain;
        background-image: url(../../assets/images/svg/react.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-html {
        background-size: contain;
        background-image: url(../../assets/images/svg/html.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-javascript {
        background-size: contain;
        background-image: url(../../assets/images/svg/javascript.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-jest {
        background-size: contain;
        background-image: url(../../assets/images/svg/jest.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-sass {
        background-size: contain;
        background-image: url(../../assets/images/svg/sass.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-jasmine {
        background-size: contain;
        background-image: url(../../assets/images/svg/jasmine.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-webpack {
        background-size: contain;
        background-image: url(../../assets/images/svg/webpack.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-css {
        background-size: contain;
        background-image: url(../../assets/images/svg/css.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-storybook {
        background-size: contain;
        background-image: url(../../assets/images/svg/storybook.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-tailwindcss {
        background-size: contain;
        background-image: url(../../assets/images/svg/tailwindcss.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &-typescript {
        background-size: contain;
        background-image: url(../../assets/images/svg/typescript.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}

.noise {
    content: "";
    position: fixed;
    background-image: url(../../assets/images/webp/noise.webp);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    inset: 0;
    opacity: 0.75;
    z-index: 100;
    pointer-events: none;
}

.sr-only {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

@keyframes cursor-animation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.7);
    }
}

@keyframes cursor-animation-two {
    from {
        transform: scale(0.6);
    }

    to {
        transform: scale(0.4);
    }
}

@keyframes cursor-animation-three {
    0% {
        border-radius: 50px;
        transform: scale(1);
    }

    50% {
        border-radius: 10px;
        transform: scale(3);
    }

    100% {
        border-radius: 50px;
        transform: scale(1);
        opacity: 0;
    }
}

.no-wrap {
    white-space: nowrap;
}
