@import "./components/header.scss";
@import "./pages/home.scss";
@import "./pages/introduction.scss";
@import "./pages/about.scss";
@import "./pages/projects.scss";
@import "./pages/works.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  opacity: 0;

  transition: all 1s ease-out;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &.open {
    opacity: 1;
  }
}

.title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-bottom: 2rem;

  h2 {
    font-size: 1.3rem;
    letter-spacing: 10px;
    color: rgba(238, 238, 238, 0.55);

    text-transform: uppercase;

    @media (max-width: 767px) {
      max-width: 250px;

      font-size: 1rem;

      margin-bottom: 16px;
    }
  }

  h3 {
    font-size: 4rem;
    letter-spacing: -1px;

    text-transform: capitalize;

    @media (max-width: 767px) {
      max-width: 273px;

      font-size: 2.5rem;
      line-height: 40px;
    }
  }
}

.text-container {
  p {
    letter-spacing: 3px;
    margin-bottom: 12px;
  }
}

.d-none {
  display: none;
}

.cursor {
  width: 80px;
  height: 80px;

  border: 2px dashed #494cab;
  border-radius: 50px;

  position: absolute;
  z-index: 2;

  pointer-events: none;

  animation: cursor-animation .5s infinite alternate;
  animation: opacity .1s ease-in-out;

  display: none;

  &::after {
    content: 'CLICK!';

    color: #2b2994;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 1.4em;

    width: 80px;
    height: 80px;

    position: absolute;

    border: 40px solid #2b2994;
    border-radius: 50%;
    opacity: 1;

    top: -42px;
    left: -42px;

    background: rgba(255, 255, 255, 0.8);

    animation: cursor-animation-two .5s infinite alternate;
  }
}

.cursor-click {
  width: 20px;
  height: 20px;

  border: 2px solid white;
  border-radius: 50px;

  position: absolute;
  z-index: 2;

  pointer-events: none;

  display: none;

  animation: cursor-animation-three .5s infinite alternate;
}

@keyframes cursor-animation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.7);
  }
}

@keyframes cursor-animation-two {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.4);
  }
}

@keyframes cursor-animation-three {
  0% {
    border-radius: 50px;
    transform: scale(1);
  }

  50% {
    border-radius: 10px;
    transform: scale(3);
  }

  100% {
    border-radius: 50px;
    transform: scale(1);
    opacity: 0;
  }
}