@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    src:
        local("Roboto"),
        url("/assets/fonts/Roboto/Roboto-Thin.ttf") format("ttf"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("/assets/fonts/Roboto/Roboto-Thin.ttf") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src:
        local("Roboto"),
        url("/assets/fonts/Roboto/Roboto-Light.ttf") format("ttf"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("/assets/fonts/Roboto/Roboto-Light.ttf") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src:
        local("Roboto"),
        url("/assets/fonts/Roboto/Roboto-Medium.ttf") format("ttf"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("/assets/fonts/Roboto/Roboto-Medium.ttf") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    src:
        local("Roboto"),
        url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("ttf"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("/assets/fonts/Roboto/Roboto-Bold.ttf") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src:
        local("Roboto"),
        url("/assets/fonts/Roboto/Roboto-Black.ttf") format("ttf"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("/assets/fonts/Roboto/Roboto-Black.ttf") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
