.navbar {
  position: fixed;

  top: 0;
  left: 0;

  padding: 24px;

  z-index: 300;

  transform: translateY(-100vh);
  opacity: 0;

  transition: opacity 3s ease-in-out;

  &-brand {
    width: 100%;
    height: 60px;

    em.icon.hnt3dev {
      display: block;

      height: 100px;
      width: 100px;

      background-size: contain;
      background-image: url('/assets/images/png/Logo (white).png');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.header-opened {
    transform: translateY(0vh);
    opacity: 1;
  }
}
