@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  z-index: 300;
  transform: translateY(-100vh);
  opacity: 0;
  transition: opacity 3s ease-in-out; }
  .navbar-brand {
    width: 100%;
    height: 60px; }
    .navbar-brand em.icon.hnt3dev {
      display: block;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-image: url("/assets/images/png/Logo HNT3dev (white).png");
      background-repeat: no-repeat;
      background-position: center; }
  .navbar.header-opened {
    transform: translateY(0vh);
    opacity: 1; }

.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden; }
  .home .hello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .home .hello.opening::before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      opacity: 0;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s ease-in-out; }
    .home .hello.open::before {
      position: absolute;
      content: "";
      opacity: 1;
      z-index: 2;
      border-radius: 50%;
      animation: 1.2s ease-in-out circle; }
@keyframes circle {
  0% {
    background: linear-gradient(#2b2994, #494cab);
    width: 0vw;
    height: 0vh; }
  100% {
    background: linear-gradient(#2b2994, #494cab);
    width: 3000px;
    height: 3000px; } }
    .home .hello h1 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 12em;
      line-height: 0.8em;
      color: #fff;
      -webkit-text-stroke: 5px #000;
      pointer-events: none;
      position: relative; }
      @media (max-width: 767px) {
        .home .hello h1 {
          font-size: 24vw; } }
      .home .hello h1::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 100px;
        top: 50%;
        left: -100px;
        transform: translate(-50%, -50%);
        background-image: url(/assets/images/svg/arrow-left.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
        @media (min-width: 768px) {
          .home .hello h1::before {
            filter: invert(78%) sepia(7%) saturate(10%) hue-rotate(44deg) brightness(104%) contrast(94%);
            animation: 0.6s ease-in-out infinite alternate arrow-right; } }
        @media (max-width: 767px) {
          .home .hello h1::before {
            display: none; } }
      .home .hello h1::after {
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        right: -100px;
        transform: translate(-50%, -50%);
        background-image: url(/assets/images/svg/arrow-right.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
        @media (min-width: 768px) {
          .home .hello h1::after {
            filter: invert(78%) sepia(7%) saturate(10%) hue-rotate(44deg) brightness(104%) contrast(94%);
            animation: 0.6s ease-in-out infinite alternate arrow-left; } }
        @media (max-width: 767px) {
          .home .hello h1::after {
            content: "CLICK!";
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 8px;
            color: #fff;
            -webkit-text-stroke: 0px transparent;
            width: 50px;
            height: 50px;
            background-image: none;
            position: absolute;
            top: 0;
            right: 0;
            transform: none;
            border: dashed 1px #fff;
            border-radius: 50%;
            animation: none;
            animation: 0.6s ease-in-out infinite alternate pulse-text; }
          @keyframes pulse-text {
            from {
              transform: scale(1); }
            to {
              transform: scale(1.2); } } }
@keyframes arrow-right {
  from {
    left: -100px; }
  to {
    left: -150px; } }
@keyframes arrow-left {
  from {
    right: -200px; }
  to {
    right: -250px; } }
  .home .left {
    width: calc(50% - 2px);
    margin-right: 2px;
    background-color: #000;
    border-right: #494cab 1px solid;
    transition: all 1s ease-out; }
    .home .left.open {
      transform: translateX(-3000px); }
  .home .right {
    width: calc(50% - 2px);
    margin-left: 2px;
    background-color: #000;
    border-left: #494cab 1px solid;
    transition: all 1s ease-out; }
    .home .right.open {
      transform: translateX(3000px); }

.container {
  position: relative;
  background: linear-gradient(#2b2994, #494cab);
  overflow: hidden; }
  .container::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, #494cab, transparent);
    z-index: 200; }
  .container .parallax-container {
    width: 100%;
    height: 100%;
    position: relative; }
    .container .parallax-container img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover; }
      .container .parallax-container img#stars {
        z-index: 10; }
      .container .parallax-container img#moon {
        mix-blend-mode: screen;
        z-index: 5; }
        @media (min-width: 968px) {
          .container .parallax-container img#moon {
            top: 32px;
            object-fit: contain; } }
      .container .parallax-container img.introduction-container {
        z-index: 5; }
      .container .parallax-container img#montainsLeft {
        z-index: 100; }
      .container .parallax-container img#stoneLeft1 {
        z-index: 15;
        animation: pulse 3.6s ease-in-out infinite alternate; }
      .container .parallax-container img#stoneLeft2 {
        z-index: 20;
        animation: pulse 1.6s ease-in-out infinite alternate; }
      .container .parallax-container img#montainsRight {
        z-index: 90; }
      .container .parallax-container img#stoneRight1 {
        left: auto;
        right: 0;
        z-index: 25;
        animation: pulse 3.3s ease-in-out infinite alternate; }
      .container .parallax-container img#stoneRight2 {
        left: auto;
        right: 0;
        z-index: 30;
        animation: pulse 1.4s ease-in-out infinite alternate; }
  .container .introduction-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .container .introduction-container .introduction-container-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      position: relative; }
      .container .introduction-container .introduction-container-text span.am {
        align-self: start;
        margin-left: 50px;
        margin-bottom: 45px;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 8px;
        animation: all 1.2s ease-out am; }
        @media (max-width: 767px) {
          .container .introduction-container .introduction-container-text span.am {
            margin-bottom: 16px; } }
@keyframes am {
  0% {
    transform: translateY(50px); }
  100% {
    transform: translateY(0px); } }
      .container .introduction-container .introduction-container-text h1.name {
        font-size: 8vw;
        font-weight: 900;
        letter-spacing: 12px;
        animation: all 1.2s ease-in-out name-effect; }
        @media (max-width: 767px) {
          .container .introduction-container .introduction-container-text h1.name {
            font-size: 14vw; } }
        @media (max-width: 500px) {
          .container .introduction-container .introduction-container-text h1.name {
            font-size: 21vw; } }
@keyframes name-effect {
  0% {
    letter-spacing: 100px; }
  100% {
    letter-spacing: auto; } }
      .container .introduction-container .introduction-container-text span.title {
        align-self: flex-end;
        margin-right: 50px;
        margin-top: 45px;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 8px;
        line-height: 25px;
        animation: all 1.2s ease-out title; }
        @media (max-width: 767px) {
          .container .introduction-container .introduction-container-text span.title {
            margin-top: 16px; } }
@keyframes title {
  0% {
    transform: translateY(-50px); }
  100% {
    transform: translateY(0px); } }
@keyframes pulse {
  0% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(5px, 15px); } }
.about-container {
  color: #fff;
  background-color: #494cab;
  position: relative;
  padding: 100px;
  padding-bottom: 0px;
  overflow-x: hidden; }
  @media (max-width: 767px) {
    .about-container {
      padding: 24px;
      padding-bottom: 0px; } }
  .about-container-skills {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 92px; }
    @media (max-width: 767px) {
      .about-container-skills {
        min-height: 100px;
        margin-bottom: 50px; } }
    .about-container-skills-top, .about-container-skills-bottom {
      display: flex;
      position: absolute; }
      .about-container-skills-top p, .about-container-skills-bottom p {
        font-size: 50px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 6px;
        white-space: nowrap;
        color: rgba(238, 238, 238, 0.55);
        margin-left: 50px;
        margin-right: 50px; }
        @media (max-width: 767px) {
          .about-container-skills-top p, .about-container-skills-bottom p {
            font-size: 24px;
            margin-left: 8px;
            margin-right: 8px; } }
  @media (max-width: 767px) and (max-width: 400px) {
    .about-container-skills-top p, .about-container-skills-bottom p {
      font-size: 14px;
      letter-spacing: 3px;
      margin-left: 8px;
      margin-right: 0px; } }

    .about-container-skills-top {
      top: 0;
      left: 400px; }
      @media (max-width: 767px) {
        .about-container-skills-top {
          left: 100px; } }
    .about-container-skills-bottom {
      bottom: 0;
      left: -400px; }
      @media (max-width: 767px) {
        .about-container-skills-bottom {
          left: -100px; } }
  .about-container-bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 910px) {
      .about-container-bottom {
        flex-wrap: wrap;
        justify-content: center; } }
    .about-container-bottom-left {
      width: 70%;
      margin-right: 50px; }
      @media (max-width: 910px) {
        .about-container-bottom-left {
          width: 100%;
          margin-right: 0px; } }
    .about-container-bottom-right {
      display: flex;
      justify-content: flex-end;
      width: 30%; }
      @media (max-width: 910px) {
        .about-container-bottom-right {
          width: 100%;
          justify-content: center; } }
      .about-container-bottom-right-image {
        height: 300px;
        width: 300px; }
        @media (max-width: 910px) {
          .about-container-bottom-right-image {
            width: 100%;
            margin-top: 24px;
            margin-bottom: 24px; } }
        .about-container-bottom-right-image .about-container-bottom-right-image__me {
          width: 100%;
          height: 300px;
          display: block;
          background: url(../images/jpg/me.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          mix-blend-mode: screen;
          border-bottom-left-radius: 50%;
          border-top-right-radius: 50%; }
          @media (max-width: 910px) {
            .about-container-bottom-right-image .about-container-bottom-right-image__me {
              width: 100%;
              background-size: cover; } }

.projects-container {
  color: #fff;
  background-color: #494cab;
  position: relative;
  padding: 50px 100px;
  padding-top: 100px; }
  @media (max-width: 767px) {
    .projects-container {
      padding: 24px; } }
  .projects-container .projects-container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .projects-container .projects-container-cards .projects-container-card {
      height: 350px;
      min-height: 350px;
      flex-basis: calc(33.3% - 24px);
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      position: relative;
      color: #000;
      border-radius: 8px;
      background-repeat: no-repeat;
      padding: 24px;
      margin-right: 24px;
      margin-bottom: 50px;
      border-radius: solid 4px;
      transition: all 0.3s ease-in-out; }
      @media (max-width: 1400px) and (min-width: 1295px) {
        .projects-container .projects-container-cards .projects-container-card {
          flex-basis: 45%; } }
      @media (max-width: 1294px) and (min-width: 867px) {
        .projects-container .projects-container-cards .projects-container-card {
          flex-basis: 45%;
          margin-right: 8px; } }
      @media (max-width: 968px) {
        .projects-container .projects-container-cards .projects-container-card {
          flex-basis: 100%;
          margin-right: 0px;
          margin-bottom: 24px; } }
      .projects-container .projects-container-cards .projects-container-card:nth-child(1) {
        background: linear-gradient(90deg, #b1e5f9, #f4d2fe); }
      .projects-container .projects-container-cards .projects-container-card:nth-child(2) {
        background: linear-gradient(180deg, #dbb4f3, #efb7d7); }
      .projects-container .projects-container-cards .projects-container-card:nth-child(3) {
        background: linear-gradient(180deg, #efa971, #e4cafe); }
      .projects-container .projects-container-cards .projects-container-card:nth-child(4) {
        background: linear-gradient(180deg, #f3cbab, #feedca); }
      .projects-container .projects-container-cards .projects-container-card:nth-child(5) {
        background: linear-gradient(180deg, #5ce2d0, #494cab);
        margin-bottom: 0px; }
      .projects-container .projects-container-cards .projects-container-card:before {
        content: "";
        width: 0%;
        height: 0%;
        position: absolute;
        left: -24px;
        bottom: -24px;
        border: 4px solid transparent;
        border-radius: 8px;
        transition: all 0.3s ease-in-out; }
      .projects-container .projects-container-cards .projects-container-card:after {
        content: "";
        width: 0%;
        height: 0%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        opacity: 0;
        border: 4px solid transparent;
        border-radius: 8px;
        transition: opacity 0.5s ease-in-out; }
      @media (min-width: 768px) {
        .projects-container .projects-container-cards .projects-container-card:hover {
          color: #fff;
          background: transparent; }
          .projects-container .projects-container-cards .projects-container-card:hover:after {
            content: "";
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            position: absolute;
            top: 0px;
            left: 0px;
            border: 4px solid #fff;
            opacity: 1; }
          .projects-container .projects-container-cards .projects-container-card:hover:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: -24px;
            bottom: -24px;
            border: 4px solid #fff; }
          .projects-container .projects-container-cards .projects-container-card:hover .icon {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); } }
      .projects-container .projects-container-cards .projects-container-card-links {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        top: 24px;
        right: 24px; }
        .projects-container .projects-container-cards .projects-container-card-links a {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: flex-end;
          z-index: 10;
          margin-right: 8px;
          cursor: none; }
          .projects-container .projects-container-cards .projects-container-card-links a.mr-none {
            margin-right: 0px; }
          .projects-container .projects-container-cards .projects-container-card-links a .icon {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center; }
            .projects-container .projects-container-cards .projects-container-card-links a .icon.github {
              background-image: url(/assets/images/svg/github-brands.svg); }
            .projects-container .projects-container-cards .projects-container-card-links a .icon.expand {
              background-image: url(/assets/images/svg/external-link-alt-solid.svg); }
      .projects-container .projects-container-cards .projects-container-card-title {
        font-size: 22px;
        letter-spacing: -1px; }
      .projects-container .projects-container-cards .projects-container-card-technologies {
        position: absolute;
        bottom: 24px; }
        .projects-container .projects-container-cards .projects-container-card-technologies ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style-type: none; }
          @media (max-width: 434px) {
            .projects-container .projects-container-cards .projects-container-card-technologies ul {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-wrap: wrap;
              padding-left: 24px;
              padding-right: 24px; } }
          .projects-container .projects-container-cards .projects-container-card-technologies ul li {
            font-size: 0.8em;
            letter-spacing: 3px;
            margin-right: 10px;
            margin-left: 10px; }

.works-container {
  color: #fff;
  background-color: #494cab;
  position: relative;
  padding: 62px 100px;
  overflow-x: hidden; }
  @media (max-width: 767px) {
    .works-container {
      padding: 24px; } }
  .works-container__cards {
    width: calc(100% + 12px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row; }
    @media (max-width: 968px) {
      .works-container__cards {
        width: 100%; } }
    .works-container__cards__item {
      width: calc(33.3% - 24px);
      height: 400px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      color: #000;
      background-color: #494c87;
      border-radius: 8px;
      padding: 24px;
      padding-bottom: 32px;
      margin-right: 24px;
      margin-bottom: 50px; }
      @media (max-width: 968px) {
        .works-container__cards__item {
          width: 100%;
          margin-right: 0px;
          margin-bottom: 24px; } }
      .works-container__cards__item .works-container__cards__item__title {
        width: 132px;
        align-self: flex-start;
        font-size: 22px;
        letter-spacing: 1.5px;
        font-weight: bold; }
      .works-container__cards__item:first-child {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-color: transparent;
        border: 10px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
        padding: 0px; }
        .works-container__cards__item:first-child::after {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          background-image: linear-gradient(to left, #743ad5, #d53a9d);
          margin-top: 20px; }
      .works-container__cards__item:nth-child(2) {
        background: linear-gradient(180deg, #ffffff, #ff74c3); }
        .works-container__cards__item:nth-child(2) em {
          width: 100%;
          height: 140px;
          background-size: contain;
          background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22Color_Overlay%22%20data-name%3D%22Color%20Overlay%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22114%22%20height%3D%2272%22%20viewBox%3D%220%200%20114%2072%22%3E%0D%0A%20%20%3Cpath%20id%3D%22Color_Overlay-2%22%20data-name%3D%22Color%20Overlay%22%20d%3D%22M2.752%2C71.117A5.76%2C5.76%2C0%2C0%2C1%2C.876%2C68.973a7.51%2C7.51%2C0%2C0%2C1-.752-2.711Q0%2C64.811%2C0%2C63.678a45.082%2C45.082%2C0%2C0%2C1%2C1.063-9.2q1.065-5.042%2C2.565-10.088t3.128-9.709q1.625-4.662%2C2.753-8.07-2.379-4.034-3.566-5.863a7.622%2C7.622%2C0%2C0%2C1-1.189-2.207A.548.548%2C0%2C0%2C1%2C5%2C18.1a.834.834%2C0%2C0%2C1%2C.5-.19q1.5.255%2C3.252.442t3.5.441q1.624-4.16%2C2.627-6.809t2-5.17l.876-2.648q.375-1.135.688-2.27A7.429%2C7.429%2C0%2C0%2C0%2C18.765%2C0c.166.086.626.274%2C1.376.568a15.825%2C15.825%2C0%2C0%2C1%2C2.377%2C1.2A10.635%2C10.635%2C0%2C0%2C1%2C24.77%2C3.594a3.5%2C3.5%2C0%2C0%2C1%2C1%2C2.459%2C8.269%2C8.269%2C0%2C0%2C1-.563%2C2.711q-.562%2C1.578-1.376%2C3.342t-1.751%2C3.719q-.939%2C1.956-1.689%2C3.846%2C4.252.378%2C5.693.567c.958.126%2C1.439.274%2C1.439.442q0%2C.378-2.315.441t-5.567.19q-1.126%2C2.524-2.189%2C5.106T15.263%2C31.9q.873%2C1.767%2C2.064%2C3.972A45.152%2C45.152%2C0%2C0%2C1%2C19.516%2C40.6c.189.476.369.965.541%2C1.465.282-.694.6-1.5.951-2.432q.614-1.621%2C1.325-3.432t1.276-3.336a5.308%2C5.308%2C0%2C0%2C1-2.175-2.526%2C7.267%2C7.267%2C0%2C0%2C1-.567-2.526%2C4.9%2C4.9%2C0%2C0%2C1%2C.189-1.573c.126-.348.44-.524.945-.524a11.489%2C11.489%2C0%2C0%2C1%2C1.183.095%2C16.757%2C16.757%2C0%2C0%2C1%2C1.654.286c.568.128%2C1.1.271%2C1.608.429a2.682%2C2.682%2C0%2C0%2C1%2C.945.429%2C7.436%2C7.436%2C0%2C0%2C1-.378.81%2C2.328%2C2.328%2C0%2C0%2C1-.284.333q0%2C.193.425.286c.284.065.629.128%2C1.041.191s.866.111%2C1.371.143.978.047%2C1.419.047h2.648q-.1.191.236-.382t.8-1.429a20.511%2C20.511%2C0%2C0%2C0%2C.9-1.86%2C10.717%2C10.717%2C0%2C0%2C0%2C.614-1.858%2C3.392%2C3.392%2C0%2C0%2C1%2C.756.429%2C16.113%2C16.113%2C0%2C0%2C1%2C1.466%2C1.1%2C10.936%2C10.936%2C0%2C0%2C1%2C1.465%2C1.478%2C2.622%2C2.622%2C0%2C0%2C1%2C.663%2C1.667%2C5.156%2C5.156%2C0%2C0%2C1-.047.715q-.05.335-.142.81-.759%2C1.526-1.939%2C3.623t-2.317%2C4.384a38.785%2C38.785%2C0%2C0%2C0-1.939%2C4.623%2C13.629%2C13.629%2C0%2C0%2C0-.8%2C4.433%2C5.662%2C5.662%2C0%2C0%2C0%2C.236%2C1.763.956.956%2C0%2C0%2C0%2C.993.714q1.323%2C0%2C3.311-1.953a14.614%2C14.614%2C0%2C0%2C0%2C2.353-3.23%2C19.381%2C19.381%2C0%2C0%2C1%2C.61-2.953%2C49.891%2C49.891%2C0%2C0%2C1%2C1.669-4.88q.918-2.27%2C1.712-4.038a12.5%2C12.5%2C0%2C0%2C0%2C.9-2.495c.02.083.181.14.6.308a7.782%2C7.782%2C0%2C0%2C1%2C1.378.757%2C6.845%2C6.845%2C0%2C0%2C1%2C1.418%2C1.3%2C3.114%2C3.114%2C0%2C0%2C1%2C.669%2C2.062%2C4.41%2C4.41%2C0%2C0%2C1-.919%2C2.187q-1.42%2C2.694-2.88%2C5.721a13.209%2C13.209%2C0%2C0%2C0-1.461%2C5.721A3.92%2C3.92%2C0%2C0%2C0%2C44.191%2C49c.167.393.556.589%2C1.169.589a6.075%2C6.075%2C0%2C0%2C0%2C3.506-1.725%2C14.728%2C14.728%2C0%2C0%2C0%2C3.757-5.595l.166-.083a.8.8%2C0%2C0%2C1%2C.584.252l.165.165c-.018.022-.142.485-.374%2C1.391a14.088%2C14.088%2C0%2C0%2C1-1.376%2C3.28A12.6%2C12.6%2C0%2C0%2C1%2C49.074%2C50.6a6.247%2C6.247%2C0%2C0%2C1-4.3%2C1.515%2C5.107%2C5.107%2C0%2C0%2C1-1.752-.337%2C3.7%2C3.7%2C0%2C0%2C1-1.669-1.346%2C6.336%2C6.336%2C0%2C0%2C1-1.2-3.4%2C18.122%2C18.122%2C0%2C0%2C1-2.592%2C3.181%2C5.2%2C5.2%2C0%2C0%2C1-3.735%2C1.621%2C4.48%2C4.48%2C0%2C0%2C1-3.357-1.763%2C7.618%2C7.618%2C0%2C0%2C1-1.561-5.2%2C21.75%2C21.75%2C0%2C0%2C1%2C.8-5.719%2C49%2C49%2C0%2C0%2C1%2C1.844-5.529%2C15.054%2C15.054%2C0%2C0%2C1-2.034.238q-.993.049-2.034.142h-.709a4.15%2C4.15%2C0%2C0%2C1-.8-.095q-1.326%2C2.194-2.412%2C4.1t-1.844%2C3.241q-.664%2C1.139-1.232%2C2.133.394%2C1.3.721%2C2.7a28.176%2C28.176%2C0%2C0%2C1%2C.688%2C6.368%2C19.257%2C19.257%2C0%2C0%2C1-1.751%2C8.512%2C22.089%2C22.089%2C0%2C0%2C1-4.066%2C5.926%2C19.186%2C19.186%2C0%2C0%2C1-4.754%2C3.594%2C11.549%2C11.549%2C0%2C0%2C1-3.816%2C1.387A5.326%2C5.326%2C0%2C0%2C1%2C6.255%2C72%2C6.024%2C6.024%2C0%2C0%2C1%2C2.752%2C71.117ZM9.508%2C47.853A85.54%2C85.54%2C0%2C0%2C0%2C6.381%2C60.9c-.084.5-.148%2C1.029-.188%2C1.576s-.062%2C1.113-.062%2C1.7a5.455%2C5.455%2C0%2C0%2C0%2C.312%2C1.953%2C1.26%2C1.26%2C0%2C0%2C0%2C1.313.82%2C6.444%2C6.444%2C0%2C0%2C0%2C4.566-1.828%2C15.942%2C15.942%2C0%2C0%2C0%2C3.253-4.413%2C23%2C23%2C0%2C0%2C0%2C1.939-5.359%2C21.949%2C21.949%2C0%2C0%2C0%2C.626-4.666%2C26.133%2C26.133%2C0%2C0%2C0-1.314-8.26%2C70.743%2C70.743%2C0%2C0%2C0-2.815-7.251Q11.634%2C41.233%2C9.508%2C47.853ZM8.632%2C21.688c0%2C.086.082.212.25.378q.375.505.75.947a7.941%2C7.941%2C0%2C0%2C1%2C.75%2C1.072%2C12.269%2C12.269%2C0%2C0%2C0%2C.438-1.324%2C12.288%2C12.288%2C0%2C0%2C1%2C.438-1.325H9.445C8.9%2C21.436%2C8.632%2C21.521%2C8.632%2C21.688Zm71.427%2C30.1a7.5%2C7.5%2C0%2C0%2C1-2.648-2.112%2C7.405%2C7.405%2C0%2C0%2C1-1.073-1.954%2C18.748%2C18.748%2C0%2C0%2C1-1.974%2C2.329%2C8.237%2C8.237%2C0%2C0%2C1-6.12%2C2.276%2C7.431%2C7.431%2C0%2C0%2C1-1.929-.285A4.063%2C4.063%2C0%2C0%2C1%2C64.441%2C50.9a6.818%2C6.818%2C0%2C0%2C1-1.379-2.219%2C9.926%2C9.926%2C0%2C0%2C1-.551-3.64%2C31.056%2C31.056%2C0%2C0%2C1%2C.717-6.2q.716-3.47%2C1.764-7.054t2.315-7.111q1.268-3.525%2C2.481-6.485-3.529-.684-4.851-1.991a3.559%2C3.559%2C0%2C0%2C1-1.322-2.218%2C2.057%2C2.057%2C0%2C0%2C1%2C.22-.911%2C11.691%2C11.691%2C0%2C0%2C0%2C6.505%2C1.593q1.212%2C0%2C1.708-1.593t.717-2.275l.771-2.389q.33-1.024.606-2.048a6.825%2C6.825%2C0%2C0%2C0%2C.275-1.707%2C12.493%2C12.493%2C0%2C0%2C0%2C1.213.456%2C10.452%2C10.452%2C0%2C0%2C1%2C2.095%2C1.024%2C8.583%2C8.583%2C0%2C0%2C1%2C1.985%2C1.706%2C3.55%2C3.55%2C0%2C0%2C1%2C.882%2C2.389%2C13.018%2C13.018%2C0%2C0%2C1-.111%2C1.479%2C4.567%2C4.567%2C0%2C0%2C1-.661%2C1.82q7.5-1.477%2C12.238-1.99a83.347%2C83.347%2C0%2C0%2C1%2C8.93-.513%2C49.347%2C49.347%2C0%2C0%2C1%2C5.9.285%2C10.545%2C10.545%2C0%2C0%2C1%2C3.143.739%2C7.719%2C7.719%2C0%2C0%2C1%2C1.984%2C1.479%2C9.112%2C9.112%2C0%2C0%2C1%2C1.379%2C1.878A5.42%2C5.42%2C0%2C0%2C1%2C114%2C18.078a13.185%2C13.185%2C0%2C0%2C1-.22%2C1.763c-.149.874-.331%2C1.309-.552%2C1.309a4.334%2C4.334%2C0%2C0%2C1-1.378-.513%2C22.5%2C22.5%2C0%2C0%2C0-3.529-1.194%2C48.323%2C48.323%2C0%2C0%2C0-6.725-1.194%2C95.024%2C95.024%2C0%2C0%2C0-10.97-.513q-3.749%2C0-8.379.341a16.814%2C16.814%2C0%2C0%2C0-1.985.285%2C21.014%2C21.014%2C0%2C0%2C1-2.866.285q-1.435%2C3.072-3.2%2C7.054t-3.363%2C7.907q-1.6%2C3.924-2.646%2C7.339a19.89%2C19.89%2C0%2C0%2C0-1.048%2C5.574q0%2C2.39%2C1.874%2C2.389T73.7%2C46.578a14.535%2C14.535%2C0%2C0%2C0%2C2.137-2.024%2C9.332%2C9.332%2C0%2C0%2C1%2C.613-3.173%2C12.05%2C12.05%2C0%2C0%2C1%2C1.35-2.563%2C10.124%2C10.124%2C0%2C0%2C1%2C1.4-1.633c.2-.178.312-.289.377-.355a.936.936%2C0%2C0%2C1%2C.4-.472%2C1.291%2C1.291%2C0%2C0%2C1%2C.693-.206%2C1.151%2C1.151%2C0%2C0%2C1%2C.749.272%2C1.03%2C1.03%2C0%2C0%2C1%2C.393.795%2C2.171%2C2.171%2C0%2C0%2C1-.589%2C1.232c-.269.361-.586.845-.943%2C1.437a10.22%2C10.22%2C0%2C0%2C0-.912%2C2.039%2C7.986%2C7.986%2C0%2C0%2C0-.384%2C2.536%2C6.094%2C6.094%2C0%2C0%2C0%2C.263%2C1.665%2C4.758%2C4.758%2C0%2C0%2C0%2C.87%2C1.649A4.863%2C4.863%2C0%2C0%2C0%2C81.75%2C49.06a5.757%2C5.757%2C0%2C0%2C0%2C2.59.51%2C8.26%2C8.26%2C0%2C0%2C0%2C4.041-.97%2C10.319%2C10.319%2C0%2C0%2C0%2C3.013-2.48%2C10.642%2C10.642%2C0%2C0%2C0%2C1.829-3.249%2C10.08%2C10.08%2C0%2C0%2C0%2C.611-3.271%2C6.189%2C6.189%2C0%2C0%2C0-.4-2.378%2C3.574%2C3.574%2C0%2C0%2C0-1.01-1.411%2C3.979%2C3.979%2C0%2C0%2C0-1.531-.75%2C8.239%2C8.239%2C0%2C0%2C0-2.037-.243%2C8.408%2C8.408%2C0%2C0%2C0-1.587.132%2C6.967%2C6.967%2C0%2C0%2C0-.922.226l-.217.11a3.085%2C3.085%2C0%2C0%2C1-.787.317%2C4.335%2C4.335%2C0%2C0%2C1-.893.1%2C3.219%2C3.219%2C0%2C0%2C1-1.577-.433%2C6.175%2C6.175%2C0%2C0%2C1-1.174-.832%2C6.432%2C6.432%2C0%2C0%2C1-.792-.855%2C1.47%2C1.47%2C0%2C0%2C1-.428-.886v-.726l.715-.089a5.16%2C5.16%2C0%2C0%2C0%2C.678-.142c.293-.079.613-.172.955-.28l.037-.01%2C1.239-.327a15.555%2C15.555%2C0%2C0%2C1%2C4.36-.606%2C14.128%2C14.128%2C0%2C0%2C1%2C4.78.727%2C10.231%2C10.231%2C0%2C0%2C1%2C3.321%2C1.885%2C7.089%2C7.089%2C0%2C0%2C1%2C1.93%2C2.676%2C7.7%2C7.7%2C0%2C0%2C1%2C.587%2C2.858%2C12.613%2C12.613%2C0%2C0%2C1-.35%2C2.777%2C13.946%2C13.946%2C0%2C0%2C1-1.116%2C3.084%2C17.279%2C17.279%2C0%2C0%2C1-1.9%2C2.984%2C12.936%2C12.936%2C0%2C0%2C1-2.806%2C2.615%2C14.719%2C14.719%2C0%2C0%2C1-3.722%2C1.831%2C14.928%2C14.928%2C0%2C0%2C1-4.725.7A9.778%2C9.778%2C0%2C0%2C1%2C80.059%2C51.784ZM54.7%2C49.554A2.606%2C2.606%2C0%2C1%2C1%2C57.3%2C52.181%2C2.616%2C2.616%2C0%2C0%2C1%2C54.7%2C49.554ZM53.538%2C42.6s0%2C0%2C0%2C0ZM47.7%2C28.052a3.714%2C3.714%2C0%2C0%2C1-.5-1.935%2C3.056%2C3.056%2C0%2C0%2C1%2C.793-2.188%2C2.757%2C2.757%2C0%2C0%2C1%2C3.882-.083%2C2.53%2C2.53%2C0%2C0%2C1%2C.752%2C1.85%2C2.419%2C2.419%2C0%2C0%2C1-.251%2C1.093A3.665%2C3.665%2C0%2C0%2C1%2C51.119%2C28.3a2.99%2C2.99%2C0%2C0%2C1-1.752.589A1.788%2C1.788%2C0%2C0%2C1%2C47.7%2C28.052Z%22%20fill%3D%22%23fc5179%22/%3E%0D%0A%3C/svg%3E%0D%0A");
          background-repeat: no-repeat;
          background-position: center; }
      .works-container__cards__item:nth-child(3) {
        background: linear-gradient(180deg, #b0ffcd, #5ce2d0); }
      .works-container__cards__item:nth-child(4) {
        background: linear-gradient(180deg, #27e3f896, #ffffff); }
        .works-container__cards__item:nth-child(4) em {
          width: 100%;
          height: 140px;
          background-size: contain;
          background-image: url(../images/png/senac.png);
          background-repeat: no-repeat;
          background-position: center; }
      .works-container__cards__item__my-career {
        width: 82px;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        background-image: linear-gradient(to left, #743ad5, #d53a9d);
        padding: 0 0.125rem; }
      .works-container__cards__item__date {
        font-size: 16px;
        line-height: 10px;
        letter-spacing: 1.5px; }
        .works-container__cards__item__date:after {
          content: ".";
          font-size: 48px;
          color: #494cab; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  overflow-x: hidden; }

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 2s ease-in-out; }
  .container.open {
    transform: translateY(0px);
    opacity: 1; }

.title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem; }
  .title-container h2 {
    font-size: 1.3rem;
    letter-spacing: 10px;
    color: rgba(238, 238, 238, 0.55);
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .title-container h2 {
        max-width: 250px;
        font-size: 1rem;
        margin-bottom: 16px; } }
  .title-container h3 {
    font-size: 4rem;
    letter-spacing: -1px;
    text-transform: capitalize; }
    @media (max-width: 767px) {
      .title-container h3 {
        max-width: 273px;
        font-size: 2.5rem;
        line-height: 40px; } }

.text-container p {
  letter-spacing: 3px;
  margin-bottom: 12px; }

.d-none {
  display: none; }

.cursor {
  width: 80px;
  height: 80px;
  border: 2px dashed #494cab;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  animation: cursor-animation 0.5s infinite alternate;
  animation: opacity 0.1s ease-in-out;
  display: none; }
  .cursor::after {
    content: "CLICK!";
    color: #2b2994;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4em;
    width: 80px;
    height: 80px;
    position: absolute;
    border: 40px solid #2b2994;
    border-radius: 50%;
    opacity: 1;
    top: -42px;
    left: -42px;
    background: rgba(255, 255, 255, 0.8);
    animation: cursor-animation-two 0.5s infinite alternate; }

.cursor-click {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  display: none;
  animation: cursor-animation-three 0.5s infinite alternate; }

@keyframes cursor-animation {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.7); } }
@keyframes cursor-animation-two {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.4); } }
@keyframes cursor-animation-three {
  0% {
    border-radius: 50px;
    transform: scale(1); }
  50% {
    border-radius: 10px;
    transform: scale(3); }
  100% {
    border-radius: 50px;
    transform: scale(1);
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
