@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  z-index: 300;
  transform: translateY(-100vh);
  opacity: 0;
  transition: opacity 3s ease-in-out; }
  .navbar-brand {
    width: 100%;
    height: 60px; }
    .navbar-brand em.icon.hnt3dev {
      display: block;
      height: 100px;
      width: 100px;
      background-size: contain;
      background-image: url("/assets/images/png/Logo HNT3dev (white).png");
      background-repeat: no-repeat;
      background-position: center; }
  .navbar.header-opened {
    transform: translateY(0vh);
    opacity: 1; }

.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden; }
  .home .hello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .home .hello.opening::before {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      opacity: 0;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.5s ease-in-out; }
    .home .hello.open::before {
      position: absolute;
      content: "";
      opacity: 1;
      z-index: 2;
      border-radius: 50%;
      animation: 1.2s ease-in-out circle; }
@keyframes circle {
  0% {
    background-color: #494cab;
    width: 0vw;
    height: 0vh; }
  100% {
    background-color: #000;
    width: 3000px;
    height: 3000px; } }
    .home .hello h1 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 12em;
      line-height: 0.8em;
      color: #494cab;
      pointer-events: none;
      position: relative; }
      @media (max-width: 767px) {
        .home .hello h1 {
          font-size: 24vw; } }
      .home .hello h1::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 100px;
        top: 50%;
        left: -100px;
        transform: translate(-50%, -50%);
        background-image: url(/assets/images/svg/arrow-left.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
        @media (min-width: 768px) {
          .home .hello h1::before {
            filter: invert(35%) sepia(49%) saturate(885%) hue-rotate(200deg) brightness(83%) contrast(93%);
            animation: 0.6s ease-in-out infinite alternate arrow-right; } }
        @media (max-width: 767px) {
          .home .hello h1::before {
            display: none; } }
      .home .hello h1::after {
        content: "";
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        right: -100px;
        transform: translate(-50%, -50%);
        background-image: url(/assets/images/svg/arrow-right.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
        @media (min-width: 768px) {
          .home .hello h1::after {
            filter: invert(35%) sepia(49%) saturate(885%) hue-rotate(200deg) brightness(83%) contrast(93%);
            animation: 0.6s ease-in-out infinite alternate arrow-left; } }
        @media (max-width: 767px) {
          .home .hello h1::after {
            content: "CLICK!";
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 8px;
            color: #fff;
            width: 50px;
            height: 50px;
            background-image: none;
            position: absolute;
            top: 0;
            right: 0;
            transform: none;
            border: dashed 1px #fff;
            border-radius: 50%;
            animation: none;
            animation: 0.6s ease-in-out infinite alternate pulse-text; }
          @keyframes pulse-text {
            from {
              transform: scale(1); }
            to {
              transform: scale(1.2); } } }
@keyframes arrow-right {
  from {
    left: -100px; }
  to {
    left: -150px; } }
@keyframes arrow-left {
  from {
    right: -200px; }
  to {
    right: -250px; } }
  .home .left {
    width: calc(50% - 2px);
    margin-right: 2px;
    background-color: #000;
    border-right: #494cab 1px solid;
    transition: all 1s ease-out; }
    .home .left.open {
      transform: translateX(-3000px); }
  .home .right {
    width: calc(50% - 2px);
    margin-left: 2px;
    background-color: #000;
    border-left: #494cab 1px solid;
    transition: all 1s ease-out; }
    .home .right.open {
      transform: translateX(3000px); }

.container {
  position: relative;
  background: linear-gradient(#2b2994, #494cab);
  overflow: hidden; }
  .container::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, #494cab, transparent);
    z-index: 200; }
  .container .parallax-container {
    width: 100%;
    height: 100%;
    position: relative; }
    .container .parallax-container img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover; }
      .container .parallax-container img#stars {
        z-index: 10; }
      .container .parallax-container img#moon {
        mix-blend-mode: screen;
        z-index: 5; }
      .container .parallax-container img.introduction-container {
        z-index: 5; }
      .container .parallax-container img#montainsLeft {
        z-index: 100; }
      .container .parallax-container img#stoneLeft1 {
        z-index: 15;
        animation: pulse 3.6s ease-in-out infinite alternate; }
      .container .parallax-container img#stoneLeft2 {
        z-index: 20;
        animation: pulse 1.6s ease-in-out infinite alternate; }
      .container .parallax-container img#montainsRight {
        z-index: 90; }
      .container .parallax-container img#stoneRight1 {
        left: auto;
        right: 0;
        z-index: 25;
        animation: pulse 3.3s ease-in-out infinite alternate; }
      .container .parallax-container img#stoneRight2 {
        left: auto;
        right: 0;
        z-index: 30;
        animation: pulse 1.4s ease-in-out infinite alternate; }
  .container .introduction-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .container .introduction-container .introduction-container-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;
      position: relative; }
      .container .introduction-container .introduction-container-text span.am {
        align-self: start;
        margin-left: 50px;
        margin-bottom: 45px;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 8px;
        animation: all 1.2s ease-out am; }
        @media (max-width: 767px) {
          .container .introduction-container .introduction-container-text span.am {
            margin-bottom: 16px; } }
@keyframes am {
  0% {
    transform: translateY(50px); }
  100% {
    transform: translateY(0px); } }
      .container .introduction-container .introduction-container-text h1.name {
        font-size: 8vw;
        font-weight: 900;
        letter-spacing: 12px;
        animation: all 1.2s ease-in-out name-effect; }
        @media (max-width: 767px) {
          .container .introduction-container .introduction-container-text h1.name {
            font-size: 14vw; } }
        @media (max-width: 500px) {
          .container .introduction-container .introduction-container-text h1.name {
            font-size: 21vw; } }
@keyframes name-effect {
  0% {
    letter-spacing: 100px; }
  100% {
    letter-spacing: auto; } }
      .container .introduction-container .introduction-container-text span.title {
        align-self: flex-end;
        margin-right: 50px;
        margin-top: 45px;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 8px;
        line-height: 25px;
        animation: all 1.2s ease-out title; }
        @media (max-width: 767px) {
          .container .introduction-container .introduction-container-text span.title {
            margin-top: 16px; } }
@keyframes title {
  0% {
    transform: translateY(-50px); }
  100% {
    transform: translateY(0px); } }
@keyframes pulse {
  0% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(5px, 15px); } }
.about-container {
  color: #fff;
  background-color: #494cab;
  position: relative;
  padding: 100px;
  padding-bottom: 0px;
  overflow-x: hidden; }
  @media (max-width: 767px) {
    .about-container {
      padding: 24px;
      padding-bottom: 0px; } }
  .about-container-skills {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 92px; }
    @media (max-width: 767px) {
      .about-container-skills {
        min-height: 100px;
        margin-bottom: 50px; } }
    .about-container-skills-top, .about-container-skills-bottom {
      display: flex;
      position: absolute; }
      .about-container-skills-top p, .about-container-skills-bottom p {
        font-size: 50px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 6px;
        white-space: nowrap;
        color: rgba(238, 238, 238, 0.55);
        margin-left: 50px;
        margin-right: 50px; }
        @media (max-width: 767px) {
          .about-container-skills-top p, .about-container-skills-bottom p {
            font-size: 24px;
            margin-left: 8px;
            margin-right: 8px; } }
  @media (max-width: 767px) and (max-width: 400px) {
    .about-container-skills-top p, .about-container-skills-bottom p {
      font-size: 14px;
      letter-spacing: 3px;
      margin-left: 8px;
      margin-right: 0px; } }

    .about-container-skills-top {
      top: 0;
      left: 400px; }
      @media (max-width: 767px) {
        .about-container-skills-top {
          left: 100px; } }
    .about-container-skills-bottom {
      bottom: 0;
      left: -400px; }
      @media (max-width: 767px) {
        .about-container-skills-bottom {
          left: -100px; } }

.projects-container {
  color: #fff;
  background-color: #494cab;
  position: relative;
  padding: 50px 100px;
  padding-top: 100px; }
  @media (max-width: 767px) {
    .projects-container {
      padding: 24px; } }
  .projects-container .projects-container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .projects-container .projects-container-cards .projects-container-card {
      height: 350px;
      min-height: 350px;
      flex-basis: 30%;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      position: relative;
      color: #000;
      background-repeat: no-repeat;
      padding: 24px;
      margin-right: 24px;
      margin-bottom: 50px;
      border-radius: solid 4px;
      transition: all 0.3s ease-in-out; }
      @media (max-width: 1333px) and (min-width: 1295px) {
        .projects-container .projects-container-cards .projects-container-card {
          flex-basis: 45%; } }
      @media (max-width: 1294px) and (min-width: 867px) {
        .projects-container .projects-container-cards .projects-container-card {
          flex-basis: 45%;
          margin-right: 8px; } }
      @media (max-width: 968px) {
        .projects-container .projects-container-cards .projects-container-card {
          flex-basis: 100%;
          margin-right: 0px;
          margin-bottom: 24px; } }
      .projects-container .projects-container-cards .projects-container-card:nth-child(1) {
        background: linear-gradient(90deg, #b1e5f9, #f4d2fe); }
      .projects-container .projects-container-cards .projects-container-card:nth-child(2) {
        background: linear-gradient(180deg, #dbb4f3, #efb7d7); }
      .projects-container .projects-container-cards .projects-container-card:nth-child(3) {
        background: linear-gradient(180deg, #efa971, #e4cafe); }
      .projects-container .projects-container-cards .projects-container-card:nth-child(4) {
        background: linear-gradient(180deg, #f3cbab, #feedca);
        margin-bottom: 0px; }
      .projects-container .projects-container-cards .projects-container-card:before {
        content: "";
        width: 0%;
        height: 0%;
        position: absolute;
        left: -24px;
        bottom: -24px;
        border: 4px solid transparent;
        transition: all 0.3s ease-in-out; }
      .projects-container .projects-container-cards .projects-container-card:after {
        content: "";
        width: 0%;
        height: 0%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        opacity: 0;
        border: 4px solid transparent;
        transition: opacity 0.5s ease-in-out; }
      .projects-container .projects-container-cards .projects-container-card:hover {
        color: #fff;
        background: transparent; }
        .projects-container .projects-container-cards .projects-container-card:hover:after {
          content: "";
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          position: absolute;
          top: 0px;
          left: 0px;
          border: 4px solid #fff;
          opacity: 1; }
        .projects-container .projects-container-cards .projects-container-card:hover:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: -24px;
          bottom: -24px;
          border: 4px solid #fff; }
        .projects-container .projects-container-cards .projects-container-card:hover .icon {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); }
      .projects-container .projects-container-cards .projects-container-card-links {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        position: absolute;
        top: 24px;
        right: 24px; }
        .projects-container .projects-container-cards .projects-container-card-links a {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: flex-end;
          margin-right: 8px;
          cursor: none; }
          .projects-container .projects-container-cards .projects-container-card-links a.mr-none {
            margin-right: 0px; }
          .projects-container .projects-container-cards .projects-container-card-links a .icon {
            width: 20px;
            height: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center; }
            .projects-container .projects-container-cards .projects-container-card-links a .icon.github {
              background-image: url(/assets/images/svg/github-brands.svg); }
            .projects-container .projects-container-cards .projects-container-card-links a .icon.expand {
              background-image: url(/assets/images/svg/external-link-alt-solid.svg); }
      .projects-container .projects-container-cards .projects-container-card-title {
        font-size: 22px;
        letter-spacing: -1px; }
      .projects-container .projects-container-cards .projects-container-card-technologies {
        position: absolute;
        bottom: 24px; }
        .projects-container .projects-container-cards .projects-container-card-technologies ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style-type: none; }
          @media (max-width: 434px) {
            .projects-container .projects-container-cards .projects-container-card-technologies ul {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-wrap: wrap;
              padding-left: 24px;
              padding-right: 24px; } }
          .projects-container .projects-container-cards .projects-container-card-technologies ul li {
            font-size: 0.8em;
            letter-spacing: 3px;
            margin-right: 10px; }

.works-container {
  color: #fff;
  background-color: #494cab;
  position: relative;
  padding: 62px 100px;
  overflow-x: hidden; }
  @media (max-width: 767px) {
    .works-container {
      padding: 24px; } }
  .works-container-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start; }
    .works-container-cards-item {
      padding: 24px;
      margin-right: 24px; }
      @media (max-width: 1288px) {
        .works-container-cards-item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0px; } }
      .works-container-cards-item:nth-child(1) {
        background: #fff; }
      .works-container-cards-item:nth-child(2) {
        background: #fff; }
      .works-container-cards-item:nth-child(3) {
        background: #fc1f49; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  overflow-x: hidden; }

.container {
  opacity: 0;
  transition: all 1s ease-out;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container.open {
    opacity: 1; }

.title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem; }
  .title-container h2 {
    font-size: 1.3rem;
    letter-spacing: 10px;
    color: rgba(238, 238, 238, 0.55);
    text-transform: uppercase; }
    @media (max-width: 767px) {
      .title-container h2 {
        max-width: 250px;
        font-size: 1rem;
        margin-bottom: 16px; } }
  .title-container h3 {
    font-size: 4rem;
    letter-spacing: -1px;
    text-transform: capitalize; }
    @media (max-width: 767px) {
      .title-container h3 {
        max-width: 273px;
        font-size: 2.5rem;
        line-height: 40px; } }

.text-container p {
  letter-spacing: 3px;
  margin-bottom: 12px; }

.d-none {
  display: none; }

.cursor {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  animation: cursor-animation .5s infinite alternate;
  animation: opacity .1s ease-in-out;
  display: none; }
  .cursor::after {
    content: 'CLICK!';
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4em;
    color: #fff;
    width: 80px;
    height: 80px;
    position: absolute;
    border: 40px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -42px;
    left: -42px;
    animation: cursor-animation-two .5s infinite alternate; }

.cursor-click {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  display: none;
  animation: cursor-animation-three .5s infinite alternate; }

@keyframes cursor-animation {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.7); } }
@keyframes cursor-animation-two {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.4); } }
@keyframes cursor-animation-three {
  0% {
    border-radius: 50px;
    transform: scale(1); }
  50% {
    border-radius: 10px;
    transform: scale(3); }
  100% {
    border-radius: 50px;
    transform: scale(1);
    opacity: 0; } }

/*# sourceMappingURL=styles.css.map */
