.about-container {
  color: #fff;
  background-color: #494cab;

  position: relative;

  padding: 100px;
  padding-bottom: 0px;

  overflow-x: hidden;

  @media (max-width: 767px) {
    padding: 24px;
    padding-bottom: 0px;
  }

  &-skills {
    min-height: 150px;

    display: flex;
    flex-direction: column;

    position: relative;

    margin-bottom: 92px;

    @media (max-width: 767px) {
      min-height: 100px;
      margin-bottom: 50px;
    }

    &-top,
    &-bottom {
      display: flex;

      position: absolute;

      p {
        font-size: 50px;
        font-weight: 300;
        line-height: 50px;
        letter-spacing: 6px;
        white-space: nowrap;
        color: hsla(0, 0%, 93.3%, 0.55);

        margin-left: 50px;
        margin-right: 50px;

        @media (max-width: 767px) {
          font-size: 24px;

          margin-left: 8px;
          margin-right: 8px;

          @media (max-width: 400px) {
            font-size: 14px;
            letter-spacing: 3px;

            margin-left: 8px;
            margin-right: 0px;
          }
        }
      }
    }

    &-top {
      top: 0;
      left: 400px;

      @media (max-width: 767px) {
        left: 100px;
      }
    }

    &-bottom {
      bottom: 0;
      left: -400px;

      @media (max-width: 767px) {
        left: -100px;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 910px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &-left {
      width: 70%;
      margin-right: 50px;

      @media (max-width: 910px) {
        width: 100%;
        margin-right: 0px;
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;

      width: 30%;

      @media (max-width: 910px) {
        width: 100%;
        justify-content: center;
      }

      &-image {
        height: 300px;
        width: 300px;

        @media (max-width: 910px) {
          width: 100%;
          margin-top: 24px;
          margin-bottom: 24px;
        }

        .about-container-bottom-right-image__me {
          width: 100%;
          height: 300px;

          display: block;

          background: url(../images/jpg/me.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

          mix-blend-mode: screen;

          border-bottom-left-radius: 50%;
          border-top-right-radius: 50%;

          @media (max-width: 910px) {
            width: 100%;
            background-size: cover;
          }
        }
      }
    }
  }
}
