.home {
  display: flex;
  width: 100vw;
  height: 100vh;

  position: relative;

  overflow-x: hidden;
  overflow-y: hidden;

  .hello {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    &.opening {
      &::before {
        position: absolute;
        content: "";

        width: 0px;
        height: 0px;
        opacity: 0;

        border-radius: 50%;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: all 0.5s ease-in-out;
      }
    }

    &.open {
      &::before {
        position: absolute;
        content: "";

        opacity: 1;
        z-index: 2;

        border-radius: 50%;

        animation: 1.2s ease-in-out circle;
      }

      @keyframes circle {
        0% {
          background-color: #494cab;
          width: 0vw;
          height: 0vh;
        }

        100% {
          background-color: #000;
          width: 3000px;
          height: 3000px;
        }
      }
    }

    h1 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 12em;
      line-height: 0.8em;
      color: #494cab;

      pointer-events: none;

      position: relative;

      @media (max-width: 767px) {
        font-size: 24vw;
      }

      &::before {
        position: absolute;
        content: "";
        width: 100px;
        height: 100px;
        top: 50%;
        left: -100px;
        transform: translate(-50%, -50%);

        background-image: url(/assets/images/svg/arrow-left.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: 768px) {
          filter: invert(35%) sepia(49%) saturate(885%) hue-rotate(200deg) brightness(83%) contrast(93%);
          animation: 0.6s ease-in-out infinite alternate arrow-right;
        }

        @media (max-width: 767px) {
          display: none;
        }
      }

      &::after {
        content: "";

        width: 100px;
        height: 100px;

        position: absolute;

        top: 50%;
        right: -100px;

        transform: translate(-50%, -50%);

        background-image: url(/assets/images/svg/arrow-right.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: 768px) {
          filter: invert(35%) sepia(49%) saturate(885%) hue-rotate(200deg) brightness(83%) contrast(93%);
          animation: 0.6s ease-in-out infinite alternate arrow-left;
        }

        @media (max-width: 767px) {
          content: "CLICK!";

          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 8px;
          color: #fff;

          width: 50px;
          height: 50px;

          background-image: none;

          position: absolute;

          top: 0;
          right: 0;

          transform: none;

          border: dashed 1px #fff;
          border-radius: 50%;

          animation: none;
          animation: 0.6s ease-in-out infinite alternate pulse-text;

          @keyframes pulse-text {
            from {
              transform: scale(1);
            }

            to {
              transform: scale(1.2);
            }
          }
        }
      }

      @keyframes arrow-right {
        from {
          left: -100px;
        }

        to {
          left: -150px;
        }
      }

      @keyframes arrow-left {
        from {
          right: -200px;
        }

        to {
          right: -250px;
        }
      }
    }
  }

  .left {
    width: calc(50% - 2px);
    margin-right: 2px;
    background-color: #000;

    border-right: #494cab 1px solid;

    transition: all 1s ease-out;

    &.open {
      transform: translateX(-3000px);
    }
  }

  .right {
    width: calc(50% - 2px);
    margin-left: 2px;
    background-color: #000;

    border-left: #494cab 1px solid;

    transition: all 1s ease-out;

    &.open {
      transform: translateX(3000px);
    }
  }
}