.container {
  background: linear-gradient(#2b2994, #494cab);

  .parallax-container {
    width: 100%;
    height: 100%;

    position: relative;

    img {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      object-fit: cover;

      &#stars {
        z-index: 10;
      }

      &#moon {
        mix-blend-mode: screen;
        z-index: 5;
      }

      &.introduction-container {
        z-index: 5;
      }

      &#montainsLeft {
        z-index: 100;
      }

      &#stoneLeft1 {
        z-index: 15;
      }

      &#stoneLeft2 {
        z-index: 20;
      }

      &#montainsRight {
        z-index: 90;
      }

      &#stoneRight1 {
        z-index: 25;
      }

      &#stoneRight2 {
        z-index: 30;
      }
    }
  }

  .introduction-container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .introduction-container-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: #fff;

      span.am {
        align-self: start;
        margin-left: 50px;
        margin-bottom: 45px;

        font-size: 1em;
        font-weight: 100;
        letter-spacing: 8px;

        animation: 1.2s ease-out am;

        @keyframes am {
          0% {
            transform: translateY(50px);
          }

          100% {
            transform: translateY(0px);
          }
        }
      }

      h1.name {
        font-size: 10em;
        font-weight: 900;
        letter-spacing: 12px;

        animation: 1.2s ease-in-out name;

        @keyframes name {
          0% {
            letter-spacing: 100px;
          }

          100% {
            letter-spacing: auto;
          }
        }
      }

      span.title {
        align-self: flex-end;
        margin-right: 50px;
        margin-top: 45px;

        font-size: 1em;
        font-weight: 100;
        letter-spacing: 8px;
        line-height: 25px;

        animation: 1.2s ease-out title;

        @keyframes title {
          0% {
            transform: translateY(-50px);
          }

          100% {
            transform: translateY(0px);
          }
        }
      }
    }
  }
}

@keyframes blink {
  0% {
    text-shadow: 0 0 15px red;
  }

  50% {
    text-shadow: none;
  }

  100% {
    text-shadow: 0 0 15px red;
  }
}