.works-container {
  color: #fff;
  background-color: #101823;

  position: relative;

  padding: 62px 100px;

  overflow-x: hidden;

  @media (max-width: 767px) {
    padding: 24px;
  }

  &__cards {
    width: calc(100% + 12px);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;

    @media (max-width: 968px) {
      width: 100%;
    }

    &__item {
      width: calc(33.3% - 24px);
      height: 400px;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;

      color: #000;
      background-color: #494c87;

      border-radius: 8px;

      padding: 24px;
      padding-bottom: 32px;

      margin-right: 24px;
      margin-bottom: 50px;

      @media (max-width: 968px) {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 24px;
      }

      .works-container__cards__item__title {
        width: 132px;
        align-self: flex-start;

        font-size: 22px;
        letter-spacing: 1.5px;
        font-weight: bold;
      }

      &:first-child {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        position: relative;

        background-color: transparent;
        border: 10px solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

        padding: 0px;

        &::after {
          content: '';

          width: 100%;
          height: 2px;

          position: absolute;
          left: 0;

          background-image: linear-gradient(to left, #743ad5, #d53a9d);

          margin-top: 32px;
        }
      }

      &:nth-child(4) {
        background: linear-gradient(180deg, #ffffff, #ff74c3);

        em {
          width: 100%;
          height: 140px;

          background-size: contain;
          background-image: url('../images/svg/branding-logo-horizontal.svg');
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &:nth-child(3) {
        background: linear-gradient(297deg, #ffffff, #fff0b3);

        em {
          width: 100%;
          height: 184px;

          background-size: contain;
          background-image: url(../images/png/everis.png);
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &:nth-child(2) {
        background: linear-gradient(180deg, #27e3f896, #ffffff);

        em {
          width: 100%;
          height: 140px;

          background-size: contain;
          background-image: url(../images/png/senac.png);
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &__my-career {
        width: 82px;

        font-weight: bold;
        font-size: 14px;

        color: #fff;

        background-image: linear-gradient(to left, #743ad5, #d53a9d);

        padding: 0 0.125rem;
      }

      &__date {
        font-size: 16px;
        line-height: 10px;
        letter-spacing: 1.5px;

        &:after {
          content: '.';

          font-size: 48px;
          color: #494cab;
        }
      }
    }
  }
}
